<div class="container">
<div class="col">
  <section class="jumbotron text-center">
    <h1 class="jumbotron-heading mb-5">Welcome to Articles section</h1>
    <p class="lead text-muted">
      Choose the room on the left to join
    </p>
  </section>
</div>


<%= for article <- @articles do %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.content %></td>

      <td class="text-right">
        <span><%= link "Show", to: article_path(@conn, :show, article), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: article_path(@conn, :edit, article), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: article_path(@conn, :delete, article), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<p class="lead text-muted">
<span><%= link "New Article", to: article_path(@conn, :new), class: "btn btn-primary" %></span></p>
<span><%= link "Back Home", to: page_path(@conn, :index), class: 'btn btn-secondary'%></span>
</div>